.loader{
    height: auto;
    width: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    svg {
        width: 100px;
        height: 100px;
    }
    .bg {
        fill: var(--color-primary);
        opacity: 0.2;
    }
    .fill {
        fill: var(--color-primary);
    }
}
  