aside.sidebar {
    width: 300px;
    z-index: 10;
    .profile {
        aspect-ratio: 1;
        width: 40px;
        background-color: var(--color-primary);
        border-radius: var(--misc-border-radius);
    }
    li a {
        padding: var(--misc-padding-small) var(--misc-padding-medium);
        font-weight: var(--typo-fw-medium);
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: var(--misc-border-radius);
        span {
            opacity: 0.3;
            font-weight: 900;
        }

        &:hover {
            background-color: var(--color-primary);
        }
    }
}

.sidebar-wrapper {
    overflow: hidden;
}

.content-container {
    overflow: scroll;
}